<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="teachers">
            <h2><span jhiTranslate="klaster5422App.teachers.detail.title">Teachers</span> {{ teachers.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="klaster5422App.teachers.name">Name</span></dt>
                <dd>
                    <span>{{ teachers.name }}</span>
                </dd>
                <dt><span jhiTranslate="klaster5422App.teachers.surname">Surname</span></dt>
                <dd>
                    <span>{{ teachers.surname }}</span>
                </dd>
                <dt><span jhiTranslate="klaster5422App.teachers.middleName">Middle Name</span></dt>
                <dd>
                    <span>{{ teachers.middleName }}</span>
                </dd>
                <dt><span jhiTranslate="klaster5422App.teachers.type">Type</span></dt>
                <dd>
                    <span>{{ teachers.type }}</span>
                </dd>
                <dt><span jhiTranslate="klaster5422App.teachers.user">User</span></dt>
                <dd>
                    {{ teachers.user?.login }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/teachers', teachers.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
